<div class="ns_credits-holder ns_{{= languageConfig.languageLookup[vocab_dir].code }}">
	<div class="ns_credits-line-thin"></div>
	<h2>Credits</h2>
	<p>{{ //credits }}</p>
	<h2 class="ns_share-this-story-title">{{ //share_title }} <a href="http://www.bbc.co.uk/help/web/sharing.shtml">{{ //about_sharing }}</a></h2>
	<a href="mailto:?subject=<!-- urlencodeme-start -->{{ //email_subject }}<!-- urlencodeme-end -->&amp;body=<!-- urlencodeme-start -->{{ //email_body }}<!-- urlencodeme-end -->" class="ns_share-icon-link ns_share-email-icon">
		<img src="{{= pathStatic }}/{{= vocab_dir }}/img/share-icons/email.png" alt="email share">
	</a>
	<a href="http://www.facebook.com/dialog/feed?app_id=58567469885&amp;redirect_uri=<!-- urlencodeme-start -->{{ //facebook_share_url }}<!-- urlencodeme-end -->&amp;link=<!-- urlencodeme-start -->{{ //facebook_share_url }}<!-- urlencodeme-end -->" class="ns_share-icon-link ns_share-facebook-icon">
		<img src="{{= pathStatic }}/{{= vocab_dir }}/img/share-icons/facebook.png" alt="facebook share">
	</a>
	<a href="https://twitter.com/intent/tweet?text=<!-- urlencodeme-start -->{{ //twitter_message }}<!-- urlencodeme-end -->&amp;url=<!-- urlencodeme-start -->{{ //twitter_share_url }}<!-- urlencodeme-end -->" data-social-url="https://twitter.com/intent/tweet?text=<!-- urlencodeme-start -->{{ //twitter_message}}<!-- urlencodeme-end -->&amp;url=" data-target-url="<!-- urlencodeme-start -->{{ //twitter_share_url }}<!-- urlencodeme-end -->" class="ns_share-icon-link ns_share-twitter-icon">
		<img src="{{= pathStatic }}/{{= vocab_dir }}/img/share-icons/twitter.png" alt="twitter share">
	</a>

	<div class="ns_onward-journey">
			<div class="ns_onward-journey-inner">
				<ul>
					<li>
						<a href="{{ //onward_journey_link_1 }}">
							<img src="http://placehold.it/227x229" alt="{{ //onward_journey_text_1 }}" >
							<span>{{ //onward_journey_text_1 }}</span>
						</a>
					</li>
					<li>
						<a href="{{ //onward_journey_link_2 }}">
							<img src="http://placehold.it/227x229" alt="{{ //onward_journey_text_2 }}" >
							<span>{{ //onward_journey_text_2 }}</span>
						</a>
					</li>
					<li>
						<a href="{{ //onward_journey_link_3 }}">
							<img src="http://placehold.it/227x229" alt="{{ //onward_journey_text_3 }}" >
							<span>{{ //onward_journey_text_3 }}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
</div>