<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta charset="utf-8" />

<meta name="description" content="temp change me" />

<meta property="og:title" content="temp change me" />
<meta property="og:type" content="website" />
<meta property="og:description" content="temp change me" />
<meta property="og:site_name" content="temp change me" />
<meta property="og:locale" content="temp change me" />
<meta property="og:article:author" content="temp change me" />
<meta property="og:article:section" content="temp change me" />
<meta property="og:url" content="temp change me" />
<meta property="og:image" content="temp change me" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="temp change me">
<meta name="twitter:title" content="temp change me">
<meta name="twitter:description" content="temp change me">
<meta name="twitter:creator" content="temp change me">
<meta name="twitter:image:src" content="temp change me">
<meta name="twitter:domain" content="temp change me">