{{= include('includes/news-banner-en-GB.tmpl') }}
<!--[if lt IE 9]>
<div class="browser-notify">
    <div class="browser-notify__banner">
        <div class="browser-notify__icon"></div>
        <span>{{= legacy_ie_message }}</span>
    </div>
</div>
<![endif]-->

<style>
{{= include("../scss/news_special/loading.css") }}
</style>
<noscript>
<style>
.bbc-news-visual-journalism-loading-spinner {
    display: none;
}
</style>
</noscript>
<link rel="stylesheet" href="{{= pathStatic }}/{{= vocab_dir }}/css/boilerplate.css?v={{= version }}"/>

<div class="main ns_{{= languageConfig.languageLookup[vocab_dir].direction }} locale_{{= languageConfig.languageLookup[vocab_dir].code }}" data-locale="{{= languageConfig.languageLookup[vocab_dir].code }}">
    <div id="loading-spinner" class="bbc-news-visual-journalism-loading-spinner"></div>
    <div class="tempShareToolsHolder"></div>
    {{= include("./hero_intro.tmpl") }}
    {{= include("./section_1_death.tmpl") }}
    {{= include("./section_2_population.tmpl") }}
    {{= include("./section_3.tmpl") }}
    {{= include("./section_4_price_of_food.tmpl") }}
    {{= include("./section_5_health.tmpl") }}
    {{= include("./section_6_schools.tmpl") }}
    {{=  include("./credits-share-and-more.tmpl") }}
</div>

{{=  include("./includes/inline.js.tmpl") }}
