{{= include('includes/news-banner-en-GB.tmpl') }}
<!--[if lt IE 9]>
<div class="browser-notify">
    <div class="browser-notify__banner">
        <div class="browser-notify__icon"></div>
        <span>{{ //hero_title }}</span>
    </div>
</div>
<![endif]-->

<style>
{{= include("../scss/news_special/loading.css") }}
</style>
<link rel="stylesheet" href="{{= pathStatic }}/{{= vocab_dir }}/css/boilerplate.css"/>

<div class="main ns_{{= languageConfig.languageLookup[vocab_dir].direction }}">
    <div id="loading-spinner" class="bbc-news-visual-journalism-loading-spinner"></div>
    <div class="tempShareToolsHolder"></div>

    <section class="hero-image" style="background-image: url(http://placehold.it/1920x768);">
        <div class="hero-wrapper">
            <div class="hero-content">
                <div class="hero-title">
                    <h1>{{= hero_title }}</h1>
                    <p class="hero-subtitle">{{= hero_subtitle }}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="story-section grid-wrapper">
        <div class="story-timestamp">
            <div class="story-meta">
                <ul class="story-metalist">
                    <li class='timestamp'><div class="date">{{= timestamp }}</div></li>
                    <li><a href="{{= topic_link }}">{{= topic_label }}</a></li>
                </ul>
            </div>
        </div>
        <div class="story-content">
            <div class="rte story-body">
                <p class="intro">{{= intro_paragraph }}</p>
            </div>
        </div>
    </section>

    {{= include("./section_death.tmpl") }}
    {{= include("./section_population.tmpl") }}
</div>
{{=  include("./credits-share-and-more.tmpl") }}

{{=  include("./includes/inline.js.tmpl") }}
