<section class="hero-image hero-image-section-2" style="background-image: url(http://placehold.it/1920x768);"></section>

<section class="story-section">
    <div class="grid-wrapper">
        <div class="story-content">
            <div class="story-body rte">
                <h2>{{= section_2_title }}</h2>
                <p>{{= section_2_paragraph }}</p>

                <div class="population">
                    <div class="population-figures">
                        <div class="population-figures-label population-figures-label-before">{{= before_population_label }}</div>
                        <div class="population-figures-figure population-figures-figure-before">{{= before_population_figure }}</div>
                        <div class="population-figures-label population-figures-label-after">{{= after_population_label }}</div>
                        <div class="population-figures-figure population-figures-figure-after">{{= after_population_figure }}</div>
                    </div>

                    <div class="population-charts">
                        <ul class="population-charts-legend">
                            <li class="population-charts-legend-item population-charts-legend-item-before">{{= before_year }}</li>
                            <li class="population-charts-legend-item population-charts-legend-item-after">{{= after_year }}</li>
                        </ul>

                        <div class="population-chart population-chart-mob-row-1 population-chart-dt-row-1" id="population-chart-city-1">
                            <div class="population-chart-inner">
                                <div class="population-chart-bar population-chart-bar-before">
                                    <div class="population-chart-bar-label">{{= before_year }}</div>
                                    <div class="population-chart-bar-value" data-population-value="5.9">
                                        <span>{{= city_1_before }}</span>
                                    </div>
                                </div><div class="population-chart-bar population-chart-bar-after">
                                    <div class="population-chart-bar-label">{{= after_year }}</div>
                                    <div class="population-chart-bar-value" data-population-value="4">
                                        <span>{{= city_1_after }}</span>
                                    </div>
                                </div><div class="population-chart-name">{{= city_1_name }}</div>
                            </div>
                        </div>
                        <div class="population-chart population-chart-mob-row-1 population-chart-dt-row-1" id="population-chart-city-2">
                            <div class="population-chart-inner">
                                <div class="population-chart-bar population-chart-bar-before">
                                    <div class="population-chart-bar-label">{{= before_year }}</div>
                                    <div class="population-chart-bar-value" data-population-value="1.8">
                                        <span>{{= city_2_before }}</span>
                                    </div>
                                </div><div class="population-chart-bar population-chart-bar-after">
                                    <div class="population-chart-bar-label">{{= after_year }}</div>
                                    <div class="population-chart-bar-value" data-population-value="1.5">
                                        <span>{{= city_2_after }}</span>
                                    </div>
                                </div><div class="population-chart-name">{{= city_2_name }}</div>
                            </div>
                        </div>
                        <div class="population-chart population-chart-mob-row-2 population-chart-dt-row-1" id="population-chart-city-3">
                            <div class="population-chart-inner">
                                <div class="population-chart-bar population-chart-bar-before">
                                    <div class="population-chart-bar-label">{{= before_year }}</div>
                                    <div class="population-chart-bar-value" data-population-value="1.9">
                                        <span>{{= city_3_before }}</span>
                                    </div>
                                </div><div class="population-chart-bar population-chart-bar-after">
                                    <div class="population-chart-bar-label">{{= after_year }}</div>
                                    <div class="population-chart-bar-value" data-population-value="2.3">
                                        <span>{{= city_3_after }}</span>
                                    </div>
                                </div><div class="population-chart-name">{{= city_3_name }}</div>
                            </div>
                        </div>
                        <div class="population-chart population-chart-mob-row-2 population-chart-dt-row-2" id="population-chart-city-4">
                            <div class="population-chart-inner">
                                <div class="population-chart-bar population-chart-bar-before">
                                    <div class="population-chart-bar-label">{{= before_year }}</div>
                                    <div class="population-chart-bar-value" data-population-value="1">
                                        <span>{{= city_4_before }}</span>
                                    </div>
                                </div><div class="population-chart-bar population-chart-bar-after">
                                    <div class="population-chart-bar-label">{{= after_year }}</div>
                                    <div class="population-chart-bar-value" data-population-value="0.8">
                                        <span>{{= city_4_after }}</span>
                                    </div>
                                </div><div class="population-chart-name">{{= city_4_name }}</div>
                            </div>
                        </div>
                        <div class="population-chart population-chart-mob-row-3 population-chart-dt-row-2" id="population-chart-city-5">
                            <div class="population-chart-inner">
                                <div class="population-chart-bar population-chart-bar-before">
                                    <div class="population-chart-bar-label">{{= before_year }}</div>
                                    <div class="population-chart-bar-value" data-population-value="1.7">
                                        <span>{{= city_5_before }}</span>
                                    </div>
                                </div><div class="population-chart-bar population-chart-bar-after">
                                    <div class="population-chart-bar-label">{{= after_year }}</div>
                                    <div class="population-chart-bar-value" data-population-value="1">
                                        <span>{{= city_5_after }}</span>
                                    </div>
                                </div><div class="population-chart-name">{{= city_5_name }}</div>
                            </div>
                        </div>
                        <div class="population-chart population-chart-mob-row-3 population-chart-dt-row-2" id="population-chart-city-6">
                            <div class="population-chart-inner">
                                <div class="population-chart-bar population-chart-bar-before">
                                    <div class="population-chart-bar-label">{{= before_year }}</div>
                                    <div class="population-chart-bar-value" data-population-value="2.1">
                                        <span>{{= city_6_before }}</span>
                                    </div>
                                </div><div class="population-chart-bar population-chart-bar-after">
                                    <div class="population-chart-bar-label">{{= after_year }}</div>
                                    <div class="population-chart-bar-value" data-population-value="1.5">
                                        <span>{{= city_6_after }}</span>
                                    </div>
                                </div><div class="population-chart-name">{{= city_6_name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="story-section-source">{{= population_source }}</p>
            </div>
        </div>
    </div>
</section>
