<section class="hero-image hero-image-section-4" style="background-image: url(http://placehold.it/1920x768);"></section>

<section class="story-section">
    <div class="grid-wrapper">
        <div class="story-content">
            <div class="story-body rte">
                <h2>{{= section_4_title }}</h2>
                <p>{{= section_4_paragraph }}</p>
                <h3>{{= section_4_subtitle }}</h3>

                <div class="priceoffood">
                    <div class="priceoffood-fooditem priceoffood-fooditem-1 priceoffood-show-area-name-mob priceoffood-show-area-name-dt">
                        <div class="priceoffood-fooditem-image">
                            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/4_price_of_food/bread.png" alt="{{= priceoffood_food_1 }}">
                        </div>
                        <h4 class="priceoffood-fooditem-name">{{= priceoffood_food_1 }}</h4>
                        <div class="priceoffood-area priceoffood-area-1">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_1 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_1_area_1 }}</div>
                        </div>
                        <div class="priceoffood-area priceoffood-area-2">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_2 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_1_area_2 }}</div>
                        </div>
                        <div class="priceoffood-area priceoffood-area-3">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_3 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_1_area_3 }}</div>
                        </div>
                    </div><div class="priceoffood-fooditem priceoffood-fooditem-2">
                        <div class="priceoffood-fooditem-image">
                            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/4_price_of_food/milk.png" alt="{{= priceoffood_food_2 }}">
                        </div>
                        <h4 class="priceoffood-fooditem-name">{{= priceoffood_food_2 }}</h4>
                        <div class="priceoffood-area priceoffood-area-1">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_1 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_2_area_1 }}</div>
                        </div>
                        <div class="priceoffood-area priceoffood-area-2">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_2 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_2_area_2 }}</div>
                        </div>
                        <div class="priceoffood-area priceoffood-area-3">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_3 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_2_area_3 }}</div>
                        </div>
                    </div><div class="priceoffood-fooditem priceoffood-fooditem-3 priceoffood-show-area-name-mob">
                        <div class="priceoffood-fooditem-image">
                            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/4_price_of_food/rice.png" alt="{{= priceoffood_food_3 }}">
                        </div>
                        <h4 class="priceoffood-fooditem-name">{{= priceoffood_food_3 }}</h4>
                        <div class="priceoffood-area priceoffood-area-1">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_1 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_3_area_1 }}</div>
                        </div>
                        <div class="priceoffood-area priceoffood-area-2">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_2 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_3_area_2 }}</div>
                        </div>
                        <div class="priceoffood-area priceoffood-area-3">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_3 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_3_area_3 }}</div>
                        </div>
                    </div><div class="priceoffood-fooditem priceoffood-fooditem-4 priceoffood-show-area-name-dt">
                        <div class="priceoffood-fooditem-image">
                            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/4_price_of_food/sugar.png" alt="{{= priceoffood_food_4 }}">
                        </div>
                        <h4 class="priceoffood-fooditem-name">{{= priceoffood_food_4 }}</h4>
                        <div class="priceoffood-area priceoffood-area-1">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_1 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_4_area_1 }}</div>
                        </div>
                        <div class="priceoffood-area priceoffood-area-2">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_2 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_4_area_2 }}</div>
                        </div>
                        <div class="priceoffood-area priceoffood-area-3">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_3 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_4_area_3 }}</div>
                        </div>
                    </div><div class="priceoffood-fooditem priceoffood-fooditem-5 priceoffood-show-area-name-mob">
                        <div class="priceoffood-fooditem-image">
                            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/4_price_of_food/flour.png" alt="{{= priceoffood_food_5 }}">
                        </div>
                        <h4 class="priceoffood-fooditem-name">{{= priceoffood_food_5 }}</h4>
                        <div class="priceoffood-area priceoffood-area-1">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_1 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_5_area_1 }}</div>
                        </div>
                        <div class="priceoffood-area priceoffood-area-2">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_2 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_5_area_2 }}</div>
                        </div>
                        <div class="priceoffood-area priceoffood-area-3">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_3 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_5_area_3 }}</div>
                        </div>
                    </div><div class="priceoffood-fooditem priceoffood-fooditem-6">
                        <div class="priceoffood-fooditem-image">
                            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/4_price_of_food/eggs.png" alt="{{= priceoffood_food_6 }}">
                        </div>
                        <h4 class="priceoffood-fooditem-name">{{= priceoffood_food_6 }}</h4>
                        <div class="priceoffood-area priceoffood-area-1">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_1 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_6_area_1 }}</div>
                        </div>
                        <div class="priceoffood-area priceoffood-area-2">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_2 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_6_area_2 }}</div>
                        </div>
                        <div class="priceoffood-area priceoffood-area-3">
                            <strong class="priceoffood-area-name">{{= priceoffood_area_3 }}</strong>
                            <div class="priceoffood-area-price">{{= priceoffood_food_6_area_3 }}</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
