<section class="hero-image hero-image-section-5" style="background-image: url(http://placehold.it/1920x768);"></section>

<section class="story-section">
    <div class="grid-wrapper">
        <div class="story-content">
            <div class="story-body rte">
                <h2>{{= section_6_title }}</h2>
                <p>{{= section_6_paragraph }}</p>

                <ul class="schools-legend">
                    <li class="schools-legend-item schools-legend-item-1">{{= schools_graph_legend_1 }}</li>
                    <li class="schools-legend-item schools-legend-item-2">{{= schools_graph_legend_2 }}</li>
                </ul>
                <div class="schools">
                    <div class="schools-chart">
                        <div class="schools-chart-group">
                            <div class="schools-chart-group-inner">
                                <div class="schools-chart-group-bar schools-chart-group-bar-1" data-value="6.5"></div><div class="schools-chart-group-bar schools-chart-group-bar-2" data-value="1"></div>
                                <div class="schools-chart-group-axis-label schools-chart-group-axis-label-odd"><span>{{= schools_graph_axes_2010_11 }}</span></div>
                            </div>
                        </div><div class="schools-chart-group">
                            <div class="schools-chart-group-inner">
                                <div class="schools-chart-group-bar schools-chart-group-bar-1" data-value="6.5"></div><div class="schools-chart-group-bar schools-chart-group-bar-2" data-value="0.9"></div>
                                <div class="schools-chart-group-axis-label schools-chart-group-axis-label-even"><span>{{= schools_graph_axes_2011_12 }}</span></div>
                            </div>
                        </div><div class="schools-chart-group">
                            <div class="schools-chart-group-inner">
                                <div class="schools-chart-group-bar schools-chart-group-bar-1" data-value="6.4"></div><div class="schools-chart-group-bar schools-chart-group-bar-2" data-value="2.9"></div>
                                <div class="schools-chart-group-axis-label schools-chart-group-axis-label-odd"><span>{{= schools_graph_axes_2012_13 }}</span></div>
                            </div>
                        </div><div class="schools-chart-group">
                            <div class="schools-chart-group-inner">
                                <div class="schools-chart-group-bar schools-chart-group-bar-1" data-value="5.7"></div><div class="schools-chart-group-bar schools-chart-group-bar-2" data-value="2"></div>
                                <div class="schools-chart-group-axis-label schools-chart-group-axis-label-even"><span>{{= schools_graph_axes_2013_14 }}</span></div>
                            </div>
                        </div><div class="schools-chart-group">
                            <div class="schools-chart-group-inner">
                                <div class="schools-chart-group-bar schools-chart-group-bar-1" data-value="5.4"></div><div class="schools-chart-group-bar schools-chart-group-bar-2" data-value="2.1"></div>
                                <div class="schools-chart-group-axis-label schools-chart-group-axis-label-odd schools-chart-group-axis-label-last"><span>{{= schools_graph_axes_2014_15 }}</span></div>
                            </div>
                        </div>
                        <div class="schools-chart-yaxis schools-chart-yaxis-7m"><span>{{= schools_graph_axes_7_million }}</span></div>
                        <div class="schools-chart-yaxis schools-chart-yaxis-6m"><span>{{= schools_graph_axes_6_million }}</span></div>
                        <div class="schools-chart-yaxis schools-chart-yaxis-5m"><span>{{= schools_graph_axes_5_million }}</span></div>
                        <div class="schools-chart-yaxis schools-chart-yaxis-4m"><span>{{= schools_graph_axes_4_million }}</span></div>
                        <div class="schools-chart-yaxis schools-chart-yaxis-3m"><span>{{= schools_graph_axes_3_million }}</span></div>
                        <div class="schools-chart-yaxis schools-chart-yaxis-2m"><span>{{= schools_graph_axes_2_million }}</span></div>
                        <div class="schools-chart-yaxis schools-chart-yaxis-1m"><span>{{= schools_graph_axes_1_million }}</span></div>
                        <div class="schools-chart-yaxis schools-chart-yaxis-0"><span>{{= schools_graph_axes_0 }}</span></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
