<section class="hero-image hero-image-section-4" style="background-image: url(http://placehold.it/1920x768);"></section>

<section class="story-section">
    <div class="grid-wrapper">
        <div class="story-content">
            <div class="story-body rte">
                <h2>{{= section_4_title }}</h2>
                <p>{{= section_4_paragraph }}</p>
                <h3>{{= section_4_subtitle }}</h3>
            </div>
        </div>
    </div>
</section>
