<section class="hero-image hero-image-section-5"></section>

<section class="story-section">
    <div class="grid-wrapper">
        <div class="story-content">
            <div class="story-body rte">
                <h2>{{= section_5_title }}</h2>
                <p>{{= section_5_paragraph }}</p>
                <div class="health-attack-counter health-attack-counter-facilities">
                    <h3 class="health-attack-counter-title">
                        <strong class="health-attack-counter-title-number">{{= facilities_number }}</strong>
                        <span class="health-attack-counter-title-label">{{= facilities_label }}</span>
                    </h3>
                    <ul class="health-attack-counter-list" id="health-attack-counter-list-facilities" data-number="{{= facilities_number }}"></ul>
                    <div class="clearfix"></div>
                </div>
                <div class="health-attack-counter health-attack-counter-personnel">
                    <h3 class="health-attack-counter-title">
                        <strong class="health-attack-counter-title-number">{{= personnel_number }}</strong>
                        <span class="health-attack-counter-title-label">{{= personnel_label }}</span>
                    </h3>
                    <ul class="health-attack-counter-list" id="health-attack-counter-list-personnel" data-number="{{= personnel_number }}"></ul>
                    <div class="clearfix"></div>
                </div>
                <p>{{= section_5_paragraph_2 }}</p>
                <p class="hospitals-text hospitals-text-top">
                    {{= hospitals_text_part_1_top }} <strong>{{= hospitals_text_part_2_top_bold }}</strong> {{= hospitals_text_part_3_top }}
                </p>
                <div class="hospitals-text-image">
                    <img src="{{= pathStatic }}/{{= vocab_dir }}/img/5_health/hospital.png" alt="">
                </div>
                <p class="hospitals-text hospitals-text-bottom">{{= hospitals_text_part_4_bottom }}</p>
                <p>{{= section_5_paragraph_3 }}</p>
                <p class="story-section-source">{{= section_5_source }}</p>
            </div>
        </div>
    </div>
</section>
