<section class="story-section">
    <div class="grid-wrapper">
        <div class="story-content">
            <div class="story-body rte">
                <h2>{{= section_death_title }}</h2>
                <p>{{= section_death_paragraph }}</p>
            </div>
        </div>
    </div>
    <div class="death-ticker">
        <div class="story-content">
            <p id="death-ticker-text">
                <strong id="death-ticker-name">Orwa Mohammad al-Sharef</strong><span id="death-ticker-genderage">, a man</span> from <span id="death-ticker-location">Raqqa</span>, <strong id="death-ticker-cause">was shot and killed</strong> on <span id="death-ticker-date">25 March 2011</span>.
            </p>
        </div>
    </div>
    <div class="grid-wrapper">
        <div class="story-content">
            <div class="story-body rte">
                <p class="death-ticker-explainer">
                    {{= section_death_ticker_para_p1 }}
                    <strong class="death-ticker-explainer-hours">{{= section_death_ticker_para_p2_hours }}</strong>
                    {{= section_death_ticker_para_p3 }}
                </p>
            </div>
        </div>
    </div>
</section>
