<section class="story-section">
    <div class="grid-wrapper">
        <div class="story-content">
            <div class="story-body rte">
                <h2>{{= section_1_title }}</h2>
                <p>{{= section_1_paragraph }}</p>
            </div>
        </div>
    </div>
    <div class="death-ticker">
        <div class="story-content">
            <p id="death-ticker-text" data-ticker-sentence="{{= death_ticker_text }}" data-ticker-sentence-unidentified="{{= death_ticker_text_unidentified }}"></p>
        </div>
    </div>
    <div class="grid-wrapper">
        <div class="story-content">
            <div class="story-body rte">
                <p class="death-ticker-explainer">
                    {{= section_1_ticker_para_p1 }}
                    <strong class="death-ticker-explainer-hours">{{= section_1_ticker_para_p2_hours }}</strong>
                    {{= section_1_ticker_para_p3 }}
                </p>
            </div>
        </div>
    </div>
</section>
