<section class="hero-image hero-image-section-3" style="background-image: url(http://placehold.it/1920x768);"></section>

<section class="story-section">
    <div class="grid-wrapper">
        <div class="story-content">
            <div class="story-body rte">
                <h2>{{= section_3_title }}</h2>
                <p>{{= section_3_paragraph }}</p>
            </div>
        </div>
    </div>
</section>
