define(function () {
    return ["{{= ticker_par_1 }}", "{{= ticker_par_2 }}", "{{= ticker_par_3 }}", "{{= ticker_par_4 }}", "{{= ticker_par_5 }}", "{{= ticker_par_6 }}", "{{= ticker_par_7 }}", "{{= ticker_par_8 }}", "{{= ticker_par_9 }}", "{{= ticker_par_10 }}", "{{= ticker_par_11 }}", "{{= ticker_par_12 }}", "{{= ticker_par_13 }}", "{{= ticker_par_14 }}", "{{= ticker_par_15 }}", "{{= ticker_par_16 }}", "{{= ticker_par_17 }}", "{{= ticker_par_18 }}", "{{= ticker_par_19 }}", "{{= ticker_par_20 }}", "{{= ticker_par_21 }}", "{{= ticker_par_22 }}", "{{= ticker_par_23 }}", "{{= ticker_par_24 }}", "{{= ticker_par_25 }}", "{{= ticker_par_26 }}", "{{= ticker_par_27 }}", "{{= ticker_par_28 }}", "{{= ticker_par_29 }}", "{{= ticker_par_30 }}", "{{= ticker_par_31 }}"];
});
