<ul class="ticker">
    <li>Shayesh Hamdo al-Ahmad was a civilian killed in Hama by warplane shelling</li>
    <li>Qasem Mohammad Qasem al-Talji was a civilian killed in Homs by warplane shelling</li>
    <li>Ayham Ali al-Fraij was a non-civilian killed in Daraa by shooting</li>
    <li>Yousef Redwan al-Dagher was a non-civilian killed in Daraa by shooting</li>
    <li>Usama Ali Hsain al-Saaedi was a non-civilian killed in Daraa by shooting</li>
    <li>Qasem Mohammad al-Durzi was a non-civilian killed in Daraa by shooting</li>
    <li>Abdulla Slaybi was a non-civilian killed in Homs by warplane shelling</li>
    <li>Abdul Hai al-Barsh was a non-civilian killed in Lattakia by shooting</li>
    <li>Khaled al-Halbooni was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Mahmoud Safaya was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Muayad Jomaa was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Yousef Abo Bilal was a civilian killed in Homs by warplane shelling</li>
    <li>"Mohammad Esam al-Ahmad "al-Buarm was a non-civilian killed in Daraa by shooting</li>
    <li>Aasef Musa al-Saleh was a non-civilian killed in Aleppo by shooting</li>
    <li>Firas al-Shibli was a non-civilian killed in Aleppo by shooting</li>
    <li>Nayef Hraitani was a non-civilian killed in Aleppo by shooting</li>
    <li>Jameele Hasan was a civilian killed in Aleppo by warplane shelling</li>
    <li>Aysha Azwar was a civilian killed in Aleppo by warplane shelling</li>
    <li>Unidentified was a civilian killed in Aleppo by warplane shelling</li>
    <li>Sattam Qashmar "Mshaiyel" was a non-civilian killed in Damascus Suburbs by warplane shelling</li>
    <li>Hasan Deeb al-Mahmoud was a non-civilian killed in Idlib by shooting</li>
    <li>Alaa Mustafa Naanaa was a non-civilian killed in Aleppo by shooting</li>
    <li>Aasef Hamad al-Zoaib was a non-civilian killed in Deir Ezzor by shooting</li>
    <li>Emad Ali al-Dahesh was a civilian killed in Deir Ezzor by kidnapping/torture</li>
    <li>Iyad Khair al-Anam was a non-civilian killed in Damascus Suburbs by warplane shelling</li>
    <li>Alae Khattab was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Obada Jaber was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Abd al-Rahman al-Khateeb was a civilian killed in Damascus Suburbs by shelling</li>
    <li>Bashar Abo Ammar was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Mohammad Jassem al-Arab was a civilian killed in Raqqa by kidnapping/execution</li>
    <li>Unidentified was a civilian killed in Raqqa by kidnapping/execution</li>
    <li>Bakor al-Gaor was a non-civilian killed in Homs by warplane shelling</li>
    <li>Moknaf al-Refaie was a non-civilian killed in Homs by warplane shelling</li>
    <li>Hasan Jalas was a non-civilian killed in Homs by warplane shelling</li>
    <li>Kamal al-Hamwi was a non-civilian killed in Homs by shooting</li>
    <li>Belal al-Homsi was a non-civilian killed in Homs by shelling</li>
    <li>Khalil Ibrahiem al-Khalil Rashwani was a civilian killed in Idlib by shelling</li>
    <li>Sharief Ibrahiem al-Khalil Rashwani was a civilian killed in Idlib by shelling</li>
    <li>Nawras shabaan Ibrahiem Khalil Rashwani was a civilian killed in Idlib by shelling</li>
    <li>Nazer Sareol was a civilian killed in Damascus Suburbs by shooting</li>
    <li>Adnan Mahmoud al-Hanash was a civilian killed in Damascus Suburbs by shooting</li>
    <li>Hassan Mahmoud al-Hansh was a civilian killed in Damascus Suburbs by shooting</li>
    <li>Musa al-Dahlah was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Ahmad al-Asfar was a civilian killed in Damascus Suburbs by shelling</li>
    <li>Mahmoud al-Shamaa was a civilian killed in Damascus Suburbs by shooting</li>
    <li>Mohammed Waled Waled was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Hamdan family was a civilian killed in Damascus by other</li>
    <li>Mahdi Abulmoen al-Hamadi was a civilian killed in Hama by un-allowed to seek medical help</li>
    <li>Gaydaa Marwan al-Gawalk was a civilian killed in Hama by warplane shelling</li>
    <li>Hashem Abd al-Motee al-Gawalek was a civilian killed in Hama by warplane shelling</li>
    <li>Amera Abdellatef al-Gawalek was a civilian killed in Hama by warplane shelling</li>
    <li>Ahmad Abd al-Moen al-Gawalek was a civilian killed in Hama by warplane shelling</li>
    <li>Mohammed Tayseer al-Hareri was a civilian killed in Daraa by warplane shelling</li>
    <li>Omar Bader al-Halki was a civilian killed in Daraa by warplane shelling</li>
    <li>Ghena Abdulsalam Hammoud al-Halki was a civilian killed in Daraa by warplane shelling</li>
    <li>Khaled Abdelhamed al-Komosh was a civilian killed in Daraa by warplane shelling</li>
    <li>Sadel Abdelhamed Komosh was a civilian killed in Daraa by warplane shelling</li>
    <li>Malak Gamal al-Hareri was a civilian killed in Daraa by warplane shelling</li>
    <li>Abdelhamed Mohammed al-Komosh was a civilian killed in Daraa by warplane shelling</li>
    <li>Jalal Bassam Hamed al-Shahdat was a civilian killed in Daraa by warplane shelling</li>
    <li>Yasin Ibraheem al-Balkhi was a civilian killed in Daraa by shooting</li>
    <li>Doaa Mohammed Mansour al-Shahadat was a civilian killed in Daraa by warplane shelling</li>
    <li>Ayat Fadel al-O'er was a civilian killed in Daraa by warplane shelling</li>
    <li>Zaher Majed al-Shahadat was a civilian killed in Daraa by shooting</li>
    <li>Nedal Saleh al-Nasar was a non-civilian killed in Daraa by shelling</li>
    <li>Malek ali al-Kaeed was a non-civilian killed in Daraa by shelling</li>
    <li>Ammar Hamad was a civilian killed in Raqqa by warplane shelling</li>
    <li>Abdullah Mahmoud al-Mosa was a civilian killed in Raqqa by warplane shelling</li>
    <li>Yousef Gasheem was a civilian killed in Raqqa by warplane shelling</li>
    <li>Thaer Mohammad al-Daear was a non-civilian killed in Deir Ezzor by shooting</li>
    <li>Son of Adeeb was a civilian killed in Aleppo by kidnapping/execution</li>
    <li>Jaber Khalaf al-Aboud was a civilian killed in Daraa by shooting</li>
    <li>Sharbel Yakoub Kuriyeh was a civilian killed in Hasakeh by shooting</li>
    <li>Satam Talal al-Qadour was a civilian killed in Hama by warplane shelling</li>
    <li>Saed Mohammad al-Taher al-Shebli was a civilian killed in Homs by detention/torture</li>
    <li>Ebtesa Ali Bato was a civilian killed in Damascus by other</li>
    <li>Raefat Shaher al-Khalaf was a civilian killed in Deir Ezzor by shooting</li>
    <li>Abo Shareef al-Qadri was a civilian killed in Damascus by shooting</li>
    <li>Firas al-Shaifoni was a civilian killed in Damascus Suburbs by shelling</li>
    <li>Reslan Mohammad Fares al-Hjij was a non-civilian killed in Daraa by shooting</li>
    <li>Sohaib al-Dera was a civilian killed in Damascus Suburbs by shelling</li>
    <li>Ayat Mansour was a civilian killed in Damascus Suburbs by shelling</li>
    <li>mohammed was a civilian killed in Damascus Suburbs by shooting</li>
    <li>Khaled Ameen al-Shaikh Bakri was a civilian killed in Damascus Suburbs by shelling</li>
    <li>Mohammad Anees was a civilian killed in Damascus Suburbs by shelling</li>
    <li>Abdul Sattar Munther Batieh was a civilian killed in Damascus Suburbs by shelling</li>
    <li>Rodwan Mohammad al-Erbeeni was a civilian killed in Damascus Suburbs by shelling</li>
    <li>Jihad Borhan was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Diae al-Dalati was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Asid Abd al-Rahman Haydar was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Mohammad Ahmad al-Falah was a civilian killed in Damascus Suburbs by detention/torture</li>
    <li>Esa Bakeer was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Hussein Sleman was a non-civilian killed in Aleppo by kidnapping/torture/execution</li>
    <li>Nour El-Deen Mahmoud Hasan al-Mjaresh was a non-civilian killed in Daraa by shooting</li>
    <li>Isam Shwelh was a non-civilian killed in Damascus Suburbs by shooting</li>
    <li>Mohammad Mohammad Najeeb was a civilian killed in Damascus Suburbs by shooting</li>
    <li>Eman Sheikh Adra was a civilian killed in Damascus Suburbs by shelling</li>
    <li>Yamen Rahal was a non-civilian killed in Quneitra by shelling</li>
    <li>Marwan Assad was a non-civilian killed in Quneitra by shelling</li>
    <li>Mouahmmed Ramdan was a civilian killed in Quneitra by shooting</li>
</ul>
