.main {
    p {
        margin: 0;
        padding: 0;
    }

    h1 { //trafalgar
        letter-spacing: -.03em;
        font-weight: 700;
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h2 {
        letter-spacing: -.03em;
    }

    h3 {
        letter-spacing: -0.4px;
        font-weight: 700;

        @include respondMinMax (37.5em, false) {
            letter-spacing: -0.5px;
        }
    }

    h4 {
        letter-spacing: inherit;
    }

    section + section {
        margin-top: 1.5em;

        @include respondMinMax (37.5em, false) {

        }
        @include respondMinMax (37.5em, false) {
            margin-top: 2em;
        }

        @include respondMinMax (800px, false) {
            margin-top: 3em;
        }
    }

    figcaption {
        background: #000;
        color: #fff;
        padding: .625em 0;

        p {
            @include respondMinMax (37.5em, false) {
                @include k-columns(10);
                @include centre-columns(10);
            }

            @include respondMinMax (800px, false) {
                @include k-columns(8);
                @include centre-columns(8);
            }

            @include respondMinMax (1280px, false) {
                @include k-columns(6);
                @include centre-columns(6);
            }
        }
    }
}
