/* use proper box model - see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

input {
	-moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}