@import "news_special/defaults";
@import "news_special/_boilerplate_utils";
@import "news_special/_boilerplate_tags";
@import "app";
@import "hero_video";
@import "death";
@import "population";
@import "price_of_food";
@import "health";
@import "schools";
@import "credits-share-and-more";

.ns_rtl {
    direction: rtl;
}

.main {
    font-size: 1.6em;
    .wrapper, .content, .wrapper-no-pad {
        margin: 0 8px;
        max-width: 1008px;
    }
    @media (min-width: 400px) {
        .wrapper, .content, .wrapper-no-pad {
            margin: 0 16px;
        }
    }
    @media (min-width: 800px) {
        .wrapper, .content, .wrapper-no-pad {
            margin: 0 16px;
        }
    }
    @media (min-width: 1008px) {
        .wrapper, .content, .wrapper-no-pad {
            margin: 0 auto;
        }
    }
}
.content {
    @extend .wrapper;
}

.story-body {
    > *:first-child {
        margin-top: 0;
    }

    > figure:first-child + * {
        margin-top: 0;
    }
}

.story-body {
    padding-top: 1.75em;
    color: #404040;

    @include respondMinMax (600px, false) {
        margin-left: 8.333%;
        margin-right: 8.333%;
    }

    @include respondMinMax (1008px, false) {
        margin-left: 0;
        padding-right: 8.333%;
        margin-right: 0;
    }

    p {
        line-height: 1.375;
        margin-top: 1em;
        margin-bottom: 1em;
        @include respondMinMax (600px, false) {
            font-size: 1.125em;
        }
        @include respondMinMax (1008px, false) {
            font-size: 1em;
        }
        @include respondMinMax (1280px, false) {
            font-size: 1.125em;
        }
    }

    h1, h2, h3, h4 {
        color: #1e1e1e;
    }
}

.hero-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ccc;
    background-position: center;
    height: 0;
    padding-bottom: 56%;
    position: relative;

    @media (min-width: 1430px) {
        padding-bottom: 45%;
    }

    @media (min-width: 1640px) {
        padding-bottom: 38%;
    }
}

.story-image-full {
    @media (max-aspect-ratio: 1/1) {
        padding-bottom: 67%;
    }
}

.hero-wrapper {
    height: 100%;
    padding: 0 8px;
    position: absolute;
    width: 100%;

    @include respondMinMax (1008px, false) {
        left: 50%;
        max-width: 1008px;
        margin-left: -504px; //1008 / 2 * -1
    }

    @include respondMinMax (1280px, false) {
        max-width: 1280px;
        margin-left: -640px;//1280 / 2 * -1px
    }
}

.hero-content {
    @include clearfix();
    height: 100%;
    padding: 0;
    position: absolute;
    left: 8px;
    right: 8px;
    z-index: 1000;

    @include respondMinMax (1008px, false) {
        max-width: 992px;
    }

    @include respondMinMax (1280px, false) {
        max-width: 1264px;
    }
}

.hero-title {
    @include k-columns(12);
    @include centre-columns(12);

    bottom: 0;
    color: #fff;
    padding: 0 0 1.25em 0;
    position: absolute;
    top: auto;
    text-shadow: 0 .0625em .5em #000;

    h1 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -.03em;
        font-weight: 700;

        @include respondMinMax (20em, false) {
            font-size: 40px;
            line-height: 40px;
        }

        @include respondMinMax (37.5em, false) {
            font-size: 72px;
            line-height: 72px;
        }

        @include respondMinMax (63em, false) {
            font-size: 56px;
            line-height: 56px;
        }
    }

    @include respondMinMax (37.5em, false) {
        @include k-columns(10);
        @include centre-columns(10);
        padding: 0 0 2em 0;
    }

    @include respondMinMax (800px, false) {
        @include k-columns(8);
        @include centre-columns(8);
        padding: 0 0 3em 0;
    }

    @include respondMinMax (1280px, false) {
        @include k-columns(6);
        @include centre-columns(6);
    }

    .hero-subtitle {
        margin-top: .5em;
        line-height: 1;

        @include respondMinMax (20em, false) {
            font-size: 1em;
            line-height: 1;
        }

        @include respondMinMax (37.5em, false) {
            font-size: 1.25em;
        }

        @include respondMinMax (63em, false) {
            font-size: 1.25em;
        }

        @include respondMinMax (1280px, false) {
            font-size: 1.5em;
        }
    }
}

.story-section:first-of-type {
    padding-top: 1.5em;

    @include respondMinMax (37.5em, false) {
        padding-top: 2em;
    }

    @include respondMinMax (800px, false) {
        padding-top: 3em;
    }
}

.story-content {
    @include k-columns(12);
    @include centre-columns(12);

    @include respondMinMax (37.5em, false) {
        @include k-columns(10);
        @include centre-columns(10);
    }

    @include respondMinMax (800px, false) {
        @include k-columns(8);
        @include centre-columns(8);
    }

    @media (min-width: 1280px) {
        @include k-columns(6);
        @include centre-columns(6);
    }
}

.story-meta {
    display: block;
    font-size: .875em;
    @include k-columns(12);
    @include centre-columns(12);
    &-list {
        margin: 0 0 1.5em;
        padding: 0;
        &-item {
            border-right: 1px solid #dcdcdc;
            display: inline-block;
            margin-right: .2em;
            padding-right: .5em;
            margin-bottom: 2px;
            margin-top: 2px;
            position: relative;
            &:last-child {
                border: none;
                margin-right: 0;
                padding-right: 0;
            }
            &-timestamp {
                &::before {
                    content: '';
                    display: block;
                    background: url('../img/boilerplate-icons-sprite.png') no-repeat -10px -4012px;
                    width: 13px;
                    height: 13px;
                    position: absolute;
                    left: 0;
                    top: 1px;
                }
                padding-left: 1.375em;
            }
            &-topic a {
                color: #cc0101;
                text-decoration: none;
                border: none;
                &:active, &:focus, &:hover {
                    color: #333;
                }
            }
            .ns_rtl & {
                border-right: none;
                border-left: 1px solid #dcdcdc;
                margin-right: 0;
                margin-left: .2em;
                padding-right: 0;
                padding-left: .5em;
                &:last-child {
                    border: none;
                }
                &-timestamp {
                    padding-right: 1.375em;
                    &::before {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }

    @include respondMinMax (37.5em, false) {
        @include k-columns(10);
        @include centre-columns(10);
    }

    @include respondMinMax (800px, false) {
        @include k-columns(8);
        @include centre-columns(8);
    }

    @include respondMinMax (1280px, false) {
        @include k-columns(2);
        float: left;
        margin-left: col-width(1);
        margin-right: 0;
        border-right: 1px solid #dcdcdc;
        &-list {
            margin: 0;
            &-item {
                border: none;
                display: block;
                padding-left: 1.375em;
            }
        }

        .ns_rtl & {
            float: right;
            margin-left: 0;
            margin-right: col-width(1);
            border-right: none;
            border-left: 1px solid #dcdcdc;
            &-list-item {
                border: none;
                padding-right: 1.375em;
            }
        }
    }
}

.story-body {
    body & {
        margin: 0;
        padding: 0;
    }
}
