$creditsFontColour:#222;

.ns_credits-holder {
    width: calc(100% - 40px);
    margin:0 auto 0 auto;
    padding: 52px 20px 0;
    clear: both;
    background: #fff;
    overflow: hidden;


    @include k-columns(12);
    @include centre-columns(12);

    @include respondMinMax (37.5em, false) {
        @include k-columns(10);
        @include centre-columns(10);
    }

    @include respondMinMax (800px, false) {
        @include k-columns(8);
        @include centre-columns(8);
    }

    @media (min-width: 1280px) {
        @include k-columns(6);
        @include centre-columns(6);
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        color: $creditsFontColour;
        margin: 20px 0;
        a {
            text-decoration: none;
            font-size: 12px;
            font-weight: normal;
            color: $creditsFontColour;
        }
    }

    p {
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
        font-style: normal;
        margin: 20px auto;
        color: $creditsFontColour;
    }


    .ns_credits-title {
        border-top: solid 1px #dbdbdb;
        padding: 16px 0 0 0;
        margin: 32px 0 0 0;
    }

    .ns_share-this-story-title {
        margin-top: 32px;
        margin-bottom: 8px;
    }

    .ns_share-icon-link {
        width: 44px;
        height:32px;
        text-decoration: none;
        display: inline-block;
        margin-right:8px;

        img {
            width:100%;
            height:100%;
        }
    }

    .ns_share-icon-link:hover {
        text-decoration: underline;
    }

    .ns_share-email-icon {
        background-color: #615f5d;
    }

    .ns_share-facebook-icon {
        background-color: #3c5a98;
    }

    .ns_share-twitter-icon {
        background-color: #47c7fa;
    }

    .ns_share-linkedin-icon {
        background-color: #0077b5;
    }


    .ns_onward-journeys-title {
        border-top: solid 8px #dbdbdb;
        border-bottom: solid 1px #dbdbdb;
        padding: 16px 0 12px 0;
        margin: 32px 0 24px 0;
    }

    .ns_onward-journey {
        margin: 0;
        padding: 0;
        .ns_onward-journey-inner {
            margin: 0 auto;
            padding: 0;
            ul {
                padding: 0;
                li {
                    clear: both;
                    display: block;
                    vertical-align: top;
                    text-align: left;
                    width: 100%;
                }
                img {
                    display: block;
                    width: 50%;
                    float: left;
                    margin: 0 8px 16px 0;
                }
                span {
                    display: block;
                    font-size: 1.6em;
                    font-weight: bold;
                    padding: 0;
                }
                a {
                    color: #222;
                    text-decoration: none;
                }
                a:visited {
                    color: #686868;
                }
                a:hover {
                    color: #1167a8;
                }
            }
        }
    }

    @include respondMinMax (768px, false) {
        .ns_onward-journey {
            .ns_onward-journey-inner {
                ul {
                    img {
                        display: block;
                        width: 33.33333%;
                        max-width: 165px;
                        float: left;
                        margin-right: 16px;
                    }
                }
            }
        }
    }

    &.ns_ru, &.ns_pt {
        padding-bottom: 40px;
        .ns_onwardJourney {
            display:none;
        }
    }

}