.death-ticker {
    background-color: #333;
    color: #fff;
    font-size: 1.125em;
    padding: 1em 0;
    margin: 64px 0 1em;
    min-height: 124px;
    position: relative;
    &-inner {
        margin: 0 8px;
        @include respondMinMax(600px, false) {
            width: 83.33333%;
            margin: 0 8.33333%;
            padding: 0 16px;
        }
        @include respondMinMax(1008px, false) {
            width: 880px;
            margin: 0 auto;
            padding: 0;
        }
        &::before {
            content: '';
            background-image: url(../img/1_death/buildings.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 193.5px;
            height: 64.5px;
            position: absolute;
            top: -48px;
        }
    }
    &-text {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @include respondMinMax(600px, false) {
        min-height: 90px;
        font-size: 1.25em;
    }
}
.story-body .death-ticker-explainer {
    font-weight: bold;
    font-size: 1.125em;
    margin-bottom: 2em;
    text-align: center;
    &-hours {
        color: #c00;
        font-size: 1.5em;
        display: block;
    }
    @include respondMinMax(600px, false) {
        font-size: 1.25em;
    }
}

.threestages {
    margin: 0 8px;
    .threestages-title, .threestages-paragraph {
        margin: 1em 0 0;
    }
    @include respondMinMax(600px, false) {
        width: 83.33333%;
        margin: 0 8.33333%;
        padding: 0 16px;
    }
    @include respondMinMax(1008px, false) {
        width: 880px;
        margin: 0 auto;
        padding: 0;
    }
    &-chart {
        .threestages-chart-title, .threestages-chart-paragraph {
            font-size: 16px;
            line-height: 20px;
            margin: 1em 0;
        }

        .threestages-chart-paragraph {
            margin-bottom: 2em;
        }

        &-image {
            width: 304px;
            margin: 0 auto;
            position: relative;
            font-size: 14px;
            line-height: 1.25;
            margin-bottom: 32px;
            svg {
                width: 264px;
                height: 279px;
                float: right;
            }
            &-yaxis {
                position: absolute;
                left: 0;
                width: 36px;
                text-align: right;
                &-5000 {
                    top: -8px;
                }
                &-3000 {
                    top: 97px;
                }
                &-1000 {
                    top: 201px;
                }
                &-0 {
                    top: 255px;
                }
            }
            &-xaxis {
                position: absolute;
                bottom: -16px;
                &-2012 {
                    left: 69px;
                }
                &-2014 {
                    left: 171px;
                }
                &-2016 {
                    left: 274px;
                }
            }
        }

        &-key {
            list-style: none;
            margin: 0;
            padding: 0 0 0 36px;
            .ns_rtl & {
                padding: 0;
            }
            &-item {
                margin: 0.5em 0;
                padding: 0;
                display: block;
                font-size: 14px;
                line-height: 1.25;
                position: relative;
                padding-left: 21.5px;
                .ns_rtl & {
                    padding-left: 0;
                    padding-right: 21.5px;
                }
                &::before {
                    content: '';
                    display: block;
                    height: 1.25em;
                    width: 1.25em;
                    position: absolute;
                    top: 0;
                    left: 0;
                    .ns_rtl & {
                        left: auto;
                        right: 0;
                    }
                }
                &-all::before {
                    background-color: #ebebeb;
                }
                &-shootings::before {
                    background-color: #801450;
                }
                &-mortar::before {
                    background-color: #c10000;
                }
                &-airstrikes::before {
                    background-color: #ee771a;
                }
            }
        }

        @include respondMinMax(768px, false) {
            width: 50%;
            display: inline-block;
            vertical-align: bottom;
            &:nth-child(odd) {
                padding-right: 8px;
            }
            &:nth-child(even) {
                padding-left: 8px;
            }

            &-image {
                width: 296px;
                svg {
                    width: 256px;
                    height: 271px;
                }
                &-yaxis {
                    &-3000 {
                        top: 94px;
                    }
                    &-1000 {
                        top: 196px;
                    }
                    &-0 {
                        top: 249px;
                    }
                }
                &-xaxis {
                    &-2012 {
                        left: 67px;
                    }
                    &-2014 {
                        left: 166px;
                    }
                    &-2016 {
                        left: 266px;
                    }
                }
            }
        }

        @include respondMinMax(1008px, false) {
            width: 33.3%;
            &:nth-child(odd), &:nth-child(even) {
                padding: 0 4px;
            }

            &-image {
                width: 285px;
                svg {
                    width: 245px;
                    height: 259px;
                }
                &-yaxis {
                    &-3000 {
                        top: 90px;
                    }
                    &-1000 {
                        top: 187px;
                    }
                    &-0 {
                        top: 238px;
                    }
                }
                &-xaxis {
                    &-2012 {
                        left: 66px;
                    }
                    &-2014 {
                        left: 160px;
                    }
                    &-2016 {
                        left: 256px;
                    }
                }
            }
        }
    }
}