.death-ticker {
    background-color: #333;
    color: #fff;
    font-size: 1.125em;
    padding: 1em 0;
    margin: 64px 0 1em;
    min-height: 124px;
    position: relative;
    &-inner {
        margin: 0 8px;
        @include respondMinMax(600px, false) {
            width: 83.33333%;
            margin: 0 8.33333%;
            padding: 0 16px;
        }
        @include respondMinMax(1008px, false) {
            width: 880px;
            margin: 0 auto;
            padding: 0;
        }
        &::before {
            content: '';
            background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%20386%20128%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E.st0%7Bfill%3A%23EBEBEB%3B%7D.st1%7Bfill%3Anone%3Bstroke%3A%23CCCCCC%3Bstroke-width%3A2%3B%7D.st2%7Bfill%3Anone%3Bstroke%3A%23000000%3Bstroke-width%3A3.9349%3Bstroke-miterlimit%3A10%3B%7D.st3%7Bfill%3A%23801450%3B%7D.st4%7Bfill%3Anone%3Bstroke%3A%23CCCCCC%3Bstroke-width%3A1.9696%3B%7D.st5%7Bfill%3Anone%3Bstroke%3A%23000000%3Bstroke-width%3A3.9391%3Bstroke-miterlimit%3A10%3B%7D.st6%7Bfill%3A%23C10000%3B%7D.st7%7Bfill%3A%23EE771A%3B%7D.st8%7Bfill%3A%23E2E2E2%3B%7D.st9%7Bfill%3A%2354594D%3B%7D.st10%7Bfill%3A%2344493D%3B%7D.st11%7Bfill%3Anone%3Bstroke%3A%23D5D5D5%3Bstroke-width%3A2.5586%3Bstroke-miterlimit%3A10%3B%7D.st12%7Bfill%3A%23EFE8BD%3B%7D.st13%7Bfill%3A%23F9EEC2%3B%7D.st14%7Bfill%3A%23D9CEA2%3B%7D.st15%7Bfill%3A%23E9DEB2%3B%7D.st16%7Bfill%3A%23AEC6CE%3B%7D.st17%7Bfill%3A%23B2B2B1%3B%7D.st18%7Bfill%3A%23CEB08A%3B%7D.st19%7Bfill%3A%23E5E5E5%3B%7D.st20%7Bfill%3A%23BEA07A%3B%7D.st21%7Bfill%3Anone%3Bstroke%3A%23BEA07A%3Bstroke-width%3A1.5102%3Bstroke-miterlimit%3A10%3B%7D.st22%7Bfill%3A%23AF9374%3B%7D.st23%7Bfill%3Anone%3Bstroke%3A%23BEA07A%3Bstroke-width%3A3.0243%3Bstroke-miterlimit%3A10%3B%7D.st24%7Bfill%3A%23F1DCCB%3B%7D.st25%7Bfill%3A%23F5C499%3B%7D.st26%7Bfill%3A%23CB7F5D%3B%7D.st27%7Bfill%3A%23E3A580%3B%7D.st28%7Bfill%3A%23D39570%3B%7D.st29%7Bfill%3A%23DB9268%3B%7D.st30%7Bfill%3A%23FCB482%3B%7D.st31%7Bfill%3A%23D78458%3B%7D.st32%7Bfill%3A%23D9C8B6%3B%7D.st33%7Bfill%3A%23D1BCAB%3B%7D.st34%7Bfill%3A%23CB8258%3B%7D.st35%7Bfill%3A%23ECA472%3B%7D.st36%7Bfill%3A%23C77448%3B%7D.st37%7Bfill%3A%23BB6F4D%3B%7D.st38%7Bfill%3A%23E5B489%3B%7D.st39%7Bfill%3A%23F4EAE2%3B%7D.st40%7Bfill%3A%23AF7D52%3B%7D.st41%7Bfill%3A%23F2E0AF%3B%7D.st42%7Bfill%3A%23E5D5B5%3B%7D.st43%7Bfill%3A%23D3C29B%3B%7D.st44%7Bfill%3A%23F2F6F6%3B%7D.st45%7Bfill%3A%23EFEFEF%3B%7D.st46%7Bfill%3A%23FFFFFF%3B%7D.st47%7Bfill%3A%23333333%3B%7D%3C/style%3E%3Cpolygon%20class%3D%22st47%22%20points%3D%220%2048.8%206.5%2048.8%206.5%2041.5%2013.8%2041.5%2013.8%2045.1%2013.8%2024.9%2031.1%2024.9%2031.1%2036.8%2039.1%2036.8%2039.1%2042.1%2043.1%2042.1%2079%2042.1%2079%2097.9%200%2097.9%20%22/%3E%3Cpath%20class%3D%22st46%22%20d%3D%22M28.1%2067.3h-7.3c-1.1%200-2-0.9-2-2V50.8c0-1.1%200.9-2%202-2h7.3c1.1%200%202%200.9%202%202v14.6C30.1%2066.4%2029.2%2067.3%2028.1%2067.3%22/%3E%3Cpolygon%20class%3D%22st47%22%20points%3D%2283.7%2097.9%2083.7%2092.5%2089.2%2092.5%2089.2%2088.1%2091.7%2088.1%2091.7%2090.6%2094.2%2090.6%2094.2%2088.1%2094.2%2085.1%20101.2%2085.1%20101.2%2082.1%20105.2%2082.1%20105.2%2090%20108.7%2090%20108.7%2093.5%20113.1%2097.9%20%22/%3E%3Cpath%20class%3D%22st47%22%20d%3D%22M162.1%2097.9V22.3h10.5V18h4.9v-6.5h7.4V0h5.1v6h8.4v2.7c0%200%2023.2-1.1%2027.2%202%204%203.1%2017.4%2011.6%2017.4%2011.6v75.6H162.1z%22/%3E%3Cpath%20class%3D%22st46%22%20d%3D%22M187.9%2039.5H183c-1.1%200-2-0.9-2-2V26.9c0-1.1%200.9-2%202-2h4.9c1.1%200%202%200.9%202%202v10.6C189.9%2038.6%20189%2039.5%20187.9%2039.5%22/%3E%3Cpath%20class%3D%22st46%22%20d%3D%22M224.4%2051.4h-4.9c-1.1%200-2-0.9-2-2V38.8c0-1.1%200.9-2%202-2h4.9c1.1%200%202%200.9%202%202v10.6C226.4%2050.5%20225.5%2051.4%20224.4%2051.4%22/%3E%3Cpath%20class%3D%22st46%22%20d%3D%22M381.9%2095.1c0%2017.3-49.2%2031.3-49.2%2031.3s-49.2-14-49.2-31.3C283.5%2077.8%20381.9%2077.8%20381.9%2095.1%22/%3E%3Crect%20x%3D%22310.4%22%20y%3D%22115.9%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22327.5%22%20y%3D%22121.3%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22329.2%22%20y%3D%22123.5%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22315.2%22%20y%3D%22118.2%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22322.2%22%20y%3D%22118.2%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22321%22%20y%3D%22121.9%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22303.4%22%20y%3D%22113.7%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22333.5%22%20y%3D%22121.3%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22340.4%22%20y%3D%22119.7%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22346.8%22%20y%3D%22117.4%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22343.3%22%20y%3D%22115.2%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22357.3%22%20y%3D%22111.1%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22357.3%22%20y%3D%22115.2%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22350.3%22%20y%3D%22111.5%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22364.3%22%20y%3D%22110.2%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22368.5%22%20y%3D%22106.6%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22357.3%22%20y%3D%22106.6%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22350.3%22%20y%3D%22115.2%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22299.9%22%20y%3D%22111.5%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22296.4%22%20y%3D%22108.8%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22292.9%22%20y%3D%22106.6%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22288.5%22%20y%3D%22104.4%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22373.5%22%20y%3D%22102.1%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22377%22%20y%3D%2299.9%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22379%22%20y%3D%2297.9%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22286%22%20y%3D%22101.9%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22283.5%22%20y%3D%2297.9%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3Crect%20x%3D%22303.4%22%20y%3D%22108.8%22%20class%3D%22st47%22%20width%3D%227%22%20height%3D%224.5%22/%3E%3C/svg%3E);
            background-size: contain;
            background-repeat: no-repeat;
            width: 193.5px;
            height: 64.5px;
            position: absolute;
            top: -48px;
        }
    }
    &-text {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @include respondMinMax(600px, false) {
        min-height: 90px;
        font-size: 1.25em;
    }
}
.story-body .death-ticker-explainer {
    font-weight: bold;
    font-size: 1.125em;
    &-hours {
        color: #c00;
        font-size: 1.5em;
    }
    @include respondMinMax(600px, false) {
        font-size: 1.25em;
    }
}

.threestages {
    margin: 0 8px;
    .threestages-title, .threestages-paragraph {
        margin: 1em 0 0;
    }
    @include respondMinMax(600px, false) {
        width: 83.33333%;
        margin: 0 8.33333%;
        padding: 0 16px;
    }
    @include respondMinMax(1008px, false) {
        width: 880px;
        margin: 0 auto;
        padding: 0;
    }
    &-chart {
        .threestages-chart-title, .threestages-chart-paragraph {
            font-size: 16px;
            line-height: 20px;
            margin: 1em 0;
        }

        &-image {
            width: 304px;
            margin: 0 auto;
            position: relative;
            font-size: 14px;
            line-height: 1.25;
            margin-bottom: 32px;
            svg {
                width: 264px;
                float: right;
            }
            &-yaxis {
                position: absolute;
                left: 0;
                width: 36px;
                text-align: right;
                &-5000 {
                    top: -8px;
                }
                &-3000 {
                    top: 97px;
                }
                &-1000 {
                    top: 201px;
                }
                &-0 {
                    top: 255px;
                }
            }
            &-xaxis {
                position: absolute;
                bottom: -16px;
                &-2012 {
                    left: 69px;
                }
                &-2014 {
                    left: 171px;
                }
                &-2016 {
                    left: 274px;
                }
            }
        }

        &-key {
            list-style: none;
            margin: 0;
            padding: 0 0 0 36px;
            &-item {
                margin: 0.5em 0;
                padding: 0;
                display: block;
                font-size: 14px;
                line-height: 1.25;
                height: 1.25em;
                span {
                    display: block;
                    float: left;
                }
                &::before {
                    content: '';
                    display: block;
                    float: left;
                    height: 1.25em;
                    width: 1.25em;
                    margin-right: 4px;
                }
                &-all::before {
                    background-color: #ebebeb;
                }
                &-shootings::before {
                    background-color: #801450;
                }
                &-mortar::before {
                    background-color: #c10000;
                }
                &-airstrikes::before {
                    background-color: #ee771a;
                }
            }
        }

        @include respondMinMax(768px, false) {
            width: 50%;
            display: inline-block;
            vertical-align: bottom;
            &:nth-child(odd) {
                padding-right: 8px;
            }
            &:nth-child(even) {
                padding-left: 8px;
            }

            &-image {
                width: 296px;
                svg {
                    width: 256px;
                }
                &-yaxis {
                    &-3000 {
                        top: 94px;
                    }
                    &-1000 {
                        top: 196px;
                    }
                    &-0 {
                        top: 249px;
                    }
                }
                &-xaxis {
                    &-2012 {
                        left: 67px;
                    }
                    &-2014 {
                        left: 166px;
                    }
                    &-2016 {
                        left: 266px;
                    }
                }
            }
        }

        @include respondMinMax(1008px, false) {
            width: 33.3%;
            &:nth-child(odd), &:nth-child(even) {
                padding: 0 4px;
            }

            &-image {
                width: 285px;
                svg {
                    width: 245px;
                }
                &-yaxis {
                    &-3000 {
                        top: 90px;
                    }
                    &-1000 {
                        top: 187px;
                    }
                    &-0 {
                        top: 238px;
                    }
                }
                &-xaxis {
                    &-2012 {
                        left: 66px;
                    }
                    &-2014 {
                        left: 160px;
                    }
                    &-2016 {
                        left: 256px;
                    }
                }
            }
        }
    }
}