.hero-video-container {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .story-media-video {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
    }
    .video {
        &-audio-control {
            position: absolute;
            top: 10%;
            right: col-width(1);
            z-index: 2;
            cursor: pointer;

            &-button {
                float: left;
                width: 36px;
                height: 36px;
                background-color: #000;
                background-image: url(../img/boilerplate-icons-sprite.png);
                background-position: center -7201px;
                background-repeat: no-repeat;
                border: none;
                transition: background-color 500ms;
            }

            &:hover .video-audio-control-button, &-button:focus {
                background-color: #c00;
            }

            &-label {
                float: left;
                height: 36px;
                margin-left: 1px;
                background-color: #000;
                color: #fff;
                font-size: 16px;
                line-height: 16px;
                font-weight: bold;
                padding: 10px;
            }
        }

        &-overlay {
            &-hidden {
                display: none;
            }
        }
    }
}
