.hero-video-container {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .story-media-video {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
    }
    .video {
        &-audio-control {
            position: absolute;
            top: 10%;
            right: col-width(1);
            z-index: 1200;
            cursor: pointer;

            &-button {
                float: left;
                width: 44px;
                height: 44px;
                background-color: #000;
                background-image: url(../img/sprite_audio.png);
                background-position: left;
                background-repeat: no-repeat;
                border: none;
                transition: background-color 500ms;
            }

            &-muted .video-audio-control-button {
                background-position: right;
            }

            &:hover .video-audio-control-button, &-button:focus {
                background-color: #c00;
            }

            &-label {
                float: left;
                height: 44px;
                margin-left: 1px;
                background-color: #000;
                color: #fff;
                font-size: 16px;
                line-height: 16px;
                font-weight: bold;
                padding: 14px;
            }
        }

        &-overlay {
            &-hidden {
                display: none;
            }
        }
    }
}

.hero-image {
    &-section {
        &-1 {
            background-color: rgb(0, 0, 0);
            background-image: url(http://news.bbcimg.co.uk/news/special/2016/newsspec_13530/content/english/img/poster.jpg);
            background-position: -9999px 0px;
        }
        &-2 {
            background-image: url(../img/hero_images/1_school_children.jpg);
        }
        &-3 {
            background-image: url(../img/hero_images/2_farmer.jpg);
        }
        &-4 {
            background-image: url(../img/hero_images/3_stall.jpg);
        }
        &-5 {
            background-image: url(../img/hero_images/4_health.jpg);
        }
        &-6 {
            background-image: url(../img/hero_images/5_school.jpg);
        }
    }
}
