$beforeColor: #8bbfbf;
$afterColor: #007f7f;

.population {
    margin: 1em 0;
    &-figures {
        margin: 1em 0;
        background-color: #007f7f;
        color: #fff;
        text-align: center;
        padding-top: 4px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &-label {
            padding-top: 8px;
        }
        &-figure {
            padding-bottom: 12px;
            font-weight: bold;
            font-size: 1.8em;
        }
    }

    &-charts {
        position: relative;
        .population-charts-legend {
            position: absolute;
            top: 0;
            right: 0;
            list-style-type: none;
            margin: 0;
            padding: 0;
            z-index: 1;
            &-item {
                display: inline-block;
                margin-left: 16px;
                &::before {
                    content: '';
                    display: block;
                    height: 1.25em;
                    width: 1.25em;
                    float: left;
                    margin-right: 8px;
                }
                &-before {
                    &::before {
                        background-color: $beforeColor;
                    }
                }
                &-after {
                    &::before {
                        background-color: $afterColor;
                    }
                }
            }
        }
    }

    &-chart {
        display: inline-block;
        width: 49%;
        margin: 8px 0;
        padding-top: 24px;
        position: relative;
        &-name {
            font-weight: bold;
            text-align: center;
            margin: 0.5em 0;
        }
        &-inner {
            width: 88px;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -44px;
        }
        &-bar {
            border-bottom: 1px solid #000;
            width: 44px;
            display: inline-block;
            position: relative;
            vertical-align: bottom;
            &-value {
                -webkit-transition: height 750ms;
                transition: height 750ms;
                height: 50px;
                span {
                    display: block;
                    position: absolute;
                    top: -24px;
                    width: 36px;
                    text-align: center;
                    white-space: nowrap;
                }
            }
            &-label {
                display: none;
            }
            &-before {
                .population-chart-bar-value {
                    background-color: $beforeColor;
                    margin: 0 12px 0 4px;
                    span {
                        left: 0;
                    }
                }
            }
            &-after {
                .population-chart-bar-value {
                    background-color: $afterColor;
                    margin: 0 4px 0 12px;
                    span {
                        right: 0
                    }
                }
            }
        }
        &-mob-row-1 {
            height: 361px;
        }
        &-mob-row-2 {
            height: 196px;
            .population-chart-name {
                height: 40px;
            }
        }
        &-mob-row-3 {
            height: 166px;
        }
    }
}

@include respondMinMax(600px, false) {
    .population {
        position: relative;

        &-figures {
            background-color: transparent;
            color: inherit;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            margin: 0;
            text-align: left;
            padding: 0;
            -webkit-font-smoothing: auto;
            -moz-osx-font-smoothing: auto;
            &-figure {
                font-size: 3em;
                &-before {
                    color: $beforeColor;
                }
                &-after {
                    color: $afterColor;
                }
            }
        }

        &-charts {
            .population-charts-legend {
                display: none;
            }
        }
        &-chart {
            width: 32%;
            &-inner {
                width: 136px;
                margin-left: -68px;
            }
            &-name {
                margin-top: 24px;
            }
            &-bar {
                width: 68px;
                .population-chart-bar-value {
                    margin: 0 8px;
                    span {
                        width: 100%;
                    }
                }
                &-label {
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: -24px;
                    text-align: center;
                }
            }
            &-mob-row-1, &-mob-row-2, &-mob-row-3 {
                height: auto;
            }
            &-mob-row-2 .population-chart-name {
                height: auto;
            }
            &-dt-row-1 {
                height: 547px;
                .population-chart-name {
                    height: 40px;
                }
            }
            &-dt-row-2 {
                height: 235px;
            }
        }
    }
}
