.priceoffood {
    line-height: 1.5;

    &-fooditem {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin-top: 16px;
        &-image {
            height: 110px;
            position: relative;
            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
        .priceoffood-fooditem-name {
            font-size: inherit;
            margin: 1em 0;
            text-align: center;
        }
    }
    &-area {
        border-bottom: 1px solid #dcdcdc;
        padding: 0.5em;
        &-3 {
            border-bottom: none;
        }
        &-name {
            display: block;
            color: #007f7f;
            font-weight: bold;
            opacity: 0;
            width: 1px;
            white-space: nowrap;
            overflow: hidden;
        }
        &-price {
            height: 1.5em;
        }
        &-label {
            display: none;
        }
    }
    &-show-area-name-mob .priceoffood-area-name {
        opacity: 1;
        width: auto;
        white-space: normal;
        overflow: visible;
    }
}

@include respondMinMax(600px, false) {
    .priceoffood {
        width: 70%;
        float: right;

        &-fooditem {
            width: 33%;
        }

        &-area {
            position: relative;
            &-name {
                position: absolute;
                top: 0;
                left: -128.5714287%;
                text-align: right;
                border-bottom: 1px solid #dcdcdc;
                padding: 0.5em 0;
            }
            &-3 {
                .priceoffood-area-name {
                    border-bottom: none;
                }
            }
            &-price {
                text-align: center;
            }
        }

        &-show-area-name-mob  .priceoffood-area-name {
            opacity: 0;
            width: 1px;
            white-space: nowrap;
            overflow: hidden;
        }

        &-show-area-name-dt {
            position: relative;
            .priceoffood-area-label {
                display: block;
                position: absolute;
                top: 0;
                left: -128.5714287%;
                width: 128.5714287%;
                font-size: inherit;
                text-align: right;
                margin: 126px 0 1em;
            }
            .priceoffood-area-name {
                opacity: 1;
                width: 128.5714287%;
                white-space: normal;
                overflow: visible;
            }
        }

        .ns_rtl & {
            float: left;
            &-area {
                &-name {
                    left: auto;
                    right: -128.5714287%;
                    text-align: left;
                }
            }
        }
    }
}

@include respondMinMax(1280px, false) {
    .priceoffood {
        font-size: 18px;
        &-fooditem {
            .priceoffood-fooditem-name {
                font-size: 18px;
            }
        }
    }
}
