.schools {
    width: 304px;
    margin: 0 auto;
    padding-bottom: 25px;
    &-chart {
        width: 280px;
        height: 350px;
        position: relative;
        float: right;
        &-group {
            position: relative;
            width: 56px;
            height: 100%;
            display: inline-block;
            vertical-align: bottom;
            border-bottom: 1px solid #222;
            &-inner {
                width: 44px;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -22px;
            }
            &-bar {
                width: 20px;
                height: 50px;
                -webkit-transition: height 750ms;
                transition: height 750ms;
                display: inline-block;
                vertical-align: bottom;
                &-1 {
                    background-color: $barColor1;
                    margin-right: 4px;
                }
                &-2 {
                    background-color: $barColor2;
                }
            }
            &-axis-label {
                width: 56px;
                height: 8px;
                position: absolute;
                bottom: -9px;
                left: -6px;
                border-left: 1px solid #ccc;
                &-last {
                    border-right: 1px solid #ccc;
                }
                span {
                    font-size: 14px;
                    display: block;
                    padding-top: 8px;
                    width: 100%;
                    text-align: center;
                }
                &-even {
                    span {
                        display: none;
                    }
                }
            }
        }
        &-yaxis {
            position: absolute;
            left: -24px;
            z-index: -1;
            width: 24px;
            font-size: 14px;
            text-align: right;
            overflow: visible;
            &::after {
                content: '';
                width: 280px;
                border-top: 1px solid #ccc;
                position: absolute;
                top: 7px;
                left: 24px;
            }
            &-7m {
                top: -8px;
            }
            &-6m {
                top: 42px;
            }
            &-5m {
                top: 92px;
            }
            &-4m {
                top: 142px;
            }
            &-3m {
                top: 192px;
            }
            &-2m {
                top: 242px;
            }
            &-1m {
                top: 292px;
            }
            &-0 {
                top: 342px;
                z-index: 0;
                &::after {
                    position: static;
                    border: none;
                }
            }
            span {
                height: 15px;
                margin-right: 4px;
            }
        }
    }

    .schools-legend {
        margin: 0 0 1em;
        padding: 0;
        list-style: none;
        &-item {
            margin: 0.5em 0;
            &::before {
                content: '';
                display: block;
                height: 1.25em;
                width: 1.25em;
                float: left;
                margin-right: 8px;
            }
            &-1 {
                &::before {
                    background-color: $barColor1;
                }
            }
            &-2 {
                &::before {
                    background-color: $barColor2;
                }
            }
        }
    }

    @include respondMinMax(600px, false) {
        width: 470px;
        &-chart {
            width: 450px;
            &-group {
                width: 90px;
                &-inner {
                    width: 74px;
                    margin-left: -37px;
                }
                &-bar {
                    width: 35px;
                }
                &-axis-label {
                    width: 90px;
                    left: -8px;
                    &-even {
                        span {
                            display: block;
                        }
                    }
                }
            }
            &-yaxis::after {
                width: 450px;
            }
        }

        .schools-legend {
            width: 284px;
            float: right;
        }
    }

    @include respondMinMax(1008px, false) {
        width: 610px;
        &-chart {
            width: 590px;
            &-group {
                width: 118px;
                &-inner {
                    width: 86px;
                    margin-left: -43px;
                }
                &-bar {
                    width: 41px;
                }
                &-axis-label {
                    width: 118px;
                    left: -16px;
                }
            }
            &-yaxis::after {
                width: 590px;
            }
        }
    }
}
