.death-ticker {
    background-color: #000;
    color: #fff;
    font-size: 1.125em;
    padding: 1em 0;
    margin: 1em 0;
    min-height: 124px;
    position: relative;
    .story-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @include respondMinMax(600px, false) {
        min-height: 90px;
        font-size: 1.25em;
    }
}