<style type="text/css">.full-frame-scaffold-news-banner{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;position:relative;width:100%;padding:0 0 0 16px;background-color:#bb1919; height:38px;}.full-frame-scaffold-news-banner__logo{width:100%;max-width:976px;margin-left:auto;margin-right:auto;height:38px;}.full-frame-scaffold-news-banner__btn {text-decoration:none; position:relative;}.full-frame-scaffold-news-banner__img {position:absolute; height:20px; width:auto; margin-top:9px;}@media (min-width:1009px){.full-frame-scaffold-news-banner{padding:0}}</style><div class="full-frame-scaffold-news-banner"><div class="full-frame-scaffold-news-banner__logo"><a href="http://www.bbc.co.uk/news" class="full-frame-scaffold-news-banner__btn"><img src="http://news.bbcimg.co.uk/news/special/2015/newsspec_12021/news.png" class="full-frame-scaffold-news-banner__img"></a></div></div>